
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #map {
    height: 100%;
  }

    .project-name{
        position:absolute;
        top:3%;
        left:35%;
    }
.project-tagline{
    position:absolute;
    left:40%;
}